html,
body {
  width: 100vw;
  background-color: #121212;

}

body {
  overflow-x: hidden;
  background-color: #121212;
}
:root{
    --teal : #30c0c0;
    --gray : #b3b3b3;
    --black : #121212;
    letter-spacing: 0.1rem;
    
}

.App{
  background-color: var(--black);
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
}
.App main{
  /* margin-top: 5vh; */
  /* margin-left: 18vw; */
  height: 80vh;
  /* max-height: max-content; */
  /* width: 100vw; */
  display: flex;
  justify-content: center;

}